@import './scss/resets', './scss/variables';

@function weight($weight-name) {
    @return map-get($map: $font-weights, $key: $weight-name);
}

@mixin theme($lightTheme: true) {
    @if $lightTheme {
        background: lighten($color: $primary-color, $amount: 100%);
        color: darken($color: $text-color, $amount: 100%);
    }
}

@mixin flexCenter($flexDirection) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flexDirection;
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content
    }
}

body {
    background: $primary-color;
    color: $text-color;
}

.main {

    @include flexCenter(row);
    width: 80%;
    margin: 0 auto;

    #{&}__paragraph1 {
        font-weight: weight(bold);

        &:hover {
            color: pink;
        }
    }

    #{&}__paragraph2 {
        @extend .main__paragraph1;

        &:hover {
            color: $accent-color;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include theme($lightTheme: false);
}