@import './scss/resets', './scss/variables';

@function weight($weight-name) {
    @return map-get($map: $font-weights, $key: $weight-name);
}

body {
    background: $primary-color;
    color: $text-color;
}

.main {
    width: 80%;
    margin: 0 auto;

    #{&}__paragraph {
        font-weight: weight(bold);

        &:hover {
            color: pink;
        }
    }
}